<section id="about" data-aos="fade-down" data-aos-delay="200" data-aos-easing="ease-in">
    <div class="container">
        <h1>About the Conference</h1>
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 order-md-2">
                <script async type="text/javascript" id="vidyard_embed_code_cEn5GFiBuQRjU3GZrPe4hq" src="//play.vidyard.com/cEn5GFiBuQRjU3GZrPe4hq.js?v=3.1.1&type=lightbox"></script>
                <div class="outer_vidyard_wrapper">
                    <div class="vidyard_wrapper" onclick="fn_vidyard_cEn5GFiBuQRjU3GZrPe4hq();">
                        <img width="560" src="//play.vidyard.com/cEn5GFiBuQRjU3GZrPe4hq.jpg?" alt="Innovate Summit 2017 Highlight Reel">
                        <div class="vidyard_play_button">
                            <a href="javascript:void(0);"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 order-md-1">
                <p>
                    Innovate Summit is a one-day event and a great opportunity for software developers
                    to meet and learn from SolarWinds engineers and others in the monitoring,
                    management and development community.
                </p>
                <p>
                    The 2017 Summit was held on December 14, 2017 in Brno, Czech Republic. Many joined
                    us for an evening of talks from experts and fellow devs on topics within
                    the
                    <em>cloud native</em> ecosystem, ranging from containers to serverless. The talks
                    were followed by a happy hour to network and have fun.
                </p>
                <p>
                    Check out the highlight reel as well as videos and photos from the talks and event
                    below.
                </p>
                <div class="about__aside">
                    <span class="about__aside-header">In the press</span>
                    <a href="https://www.zive.cz/clanky/pozvanka-na-konferenci-innovate-summit-innovation-goes-social-at-solarwinds-innovate-summit-2017/sc-3-a-190647/default.aspx"
                        target="_blank">Innovation goes social at Innovate Summit 2017</a>
                </div>
            </div>
        </div>
    </div>
</section>