<section id="details">
    <div class="container">
        <h1>Event Details</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3>Venue</h3>
                <p><strong>Courtyard by Marriott Brno</strong><br />
                    Holandská 12, 639 00 Brno-střed, Czechia<br />
                    +420-515-519 519
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="datetime">Date/Time</h3>
                <span class="addtocalendar"><i class="atcb-link fa fa-calendar-plus-o" aria-hidden="true"></i>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-12-14 12:00:00</var>
                        <var class="atc_date_end">2017-12-14 21:00:00</var>
                        <var class="atc_timezone">Europe/Budapest</var>
                        <var class="atc_title">SolarWinds Innovate Summit 2017</var>
                        <var class="atc_description">A one-day event to meet and learn from SolarWinds engineers and others in the monitoring community</var>
                        <var class="atc_location">Courtyard by Marriot Brno Holandská 12, 639 00 Brno-střed, Czechia</var>
                        <var class="atc_organizer">SolarWinds</var>
                        <var class="atc_organizer_email">innovate@solarwinds.com</var>
                    </var>
                </span>
                <p>December 14, 2017<br />
                    5pm to 9pm<br />
                    Registration starts at 4pm
                </p>
            </div>

            <aside class="links" data-aos="flip-up" data-aos-easing="ease-in">
                <div class="title">Your Guide To Brno</div>           
                <ul>
                    <li>
                        <a href="http://www.stylishcoffee.cz/2017/05/brno-diary-pruvodce-tipy.html" target="_blank">Cafés and Bistros (Czech)</a>
                    </li>
                    <li>
                        <a href="https://www.nytimes.com/2017/04/12/travel/cafe-and-cocktail-culture-brno-czech-republic.html?mcubz=3" target="_blank">Nightlife and Bars</a>
                    </li>
                    <li>
                        <a href="https://www.gotobrno.cz/en/" target="_blank">Visitor Guide</a>
                    </li>
                    <li>
                        <a href="http://www.brno.use-it.travel/" target="_blank">A Local's Guide</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=AvpLBIfjR1A" target="_blank">Video Guide</a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>

    <div id="brno-bg"></div>
</section>

<section id="map">
    <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWwbvSaqVEkcRcBNVMCFzWM4&key=AIzaSyDZ1xeIkiN9Hy3UcGD_bNzRc4CWpuOPngY" allowfullscreen></iframe>
</section>

{% include partials/modal.html id='aboutBrno' content=modalContent %}