@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  3% {
    transform: translateY(-10px);
  }
  6% {
    transform: translateY(0);
  }
  9% {
    transform: translateY(-8px);
  }
  12% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-6px);
  }
  18% {
    transform: translateY(0);
  }
}