@media screen and (max-width: $l) {

    .navbar {
        #logo {
            #expand-nav {
                display: inline-block;
            }

            img {
                max-width: 60%;
            }
        }
    
        nav {
            display: none;
        }
    }

    .affix {
        background: #FFF;
        box-shadow: 0 0 0.5em rgba(0,0,0,0.4);
    }

    .hero {
        height: 100vh;
        margin-top: 100px;        

        .intro {
            h1 {
                font-size: 2.5em;
                line-height: 1.2em;
            }

            h2 {
                font-size: 1.6em;
            }
        }
    }
    
    section {
        &#about {
            position: static;
            min-height: 0;
            height: auto;
    
            .light, #lightbulb {
                display: none !important;
            }
        }

        &#register {
            form {
                input {
                    margin-left: 0;
                }
            }
        }

        &#speakers {
            .speaker {
                &.card {
                    .info {
                        position: relative;
                        opacity: 1;
                        top: auto;
                        right: auto;
                        bottom: auto;
                        left: auto;
                        background: none;
                    }
                }
            }
        }
    }

    .speaker {
        .headshot {
            display: none;
        }
    }

    .modal {
        .content {
            width: 100%;
            height: 100vh;
            top: 0;
            overflow: scroll;
        }

        &#mobileNavModal {            
            .content {
                overflow: hidden;
            }
    
            .mobile-nav {
                font-size: 1.2em;
                padding: 1.5em 0 0;
                text-align: center;
                height: 0;
                text-transform: uppercase;               
    
                ul {
                    padding: 0;              
        
                    li {
                        display: block;
                        padding: 1em 0;                    
                        border-top: 0.1em solid _palette(grayLight);
    
                        a {
                            width: 100%;
                            text-decoration: none;                       
    
                            &:visited {
                                color: _palette(textPrimary);
                            }
    
                            &:hover {
                                color: _palette(orange);
                                background-color: inherit;
                                border-radius: 0;
                                box-shadow: none;
                            }
    
                            &:active {
                                color: _palette(textPrimary);
                            }
    
                            &.active {
                                color: #FFF;
                            }
                            
                        }
    
                        &:first-child {
                            border-top: 0px;
                        }
    
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .ribbon {
            transform: none;
            left: auto;
            top: 0;
            width: 100%;
        }
    }
}