---
---

@import 'colors';

// Screen breaks
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;

// Import corporate fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;

body {
    font-size: 16px;
    font-family: $openSans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $roboto;
}

p {
    line-height: 1.5em;
    margin: 2em 0;
}

mark {
    background: _palette(yellow);   
}

::selection {
    background: _palette(yellow);
}

::-moz-selection {
    background: _palette(yellow);
}

:focus {
    outline: none;
}

a {
    transition: color 0.25s ease-in-out;
    color: inherit;

    &:visited {
        color: _palette(grayDark);
    }

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: _palette(grayDark);
    }
}

button {
    font-family: $roboto;
    padding: 1em;
    margin: 0.5em 0.2em;
    border: 0;

    a {
        color: inherit;
        text-decoration: none;       
    
        &:visited {
            color: inherit;
        }
    
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    
        &:active {
            color: inherit;
        }
    }

    &.action {
        transition: background 0.25s ease-in-out;
        background: _palette(green);
        color: #FFF;
    
        &:hover {
            background: _palette(greenHov);
        }

        &:active {
            background: _palette(greenAct);
        }
    }

    &.primary {
        transition: background 0.25s ease-in-out;
        background: _palette(orange);
        color: #FFF;
    
        &:hover {
            background: _palette(orangeHov);
        }

        &:active {
            background: _palette(orangeAct);
        }
    }

    &.secondary {
        transition: box-shadow 0.25s ease-in-out;
        background: none;
        color: _palette(gray);
        box-shadow: inset 0 0 0 0.1em _palette(gray);
    
        &:hover {
            box-shadow: inset 0 0 0 0.1em _palette(grayMed);
        }
    }
}

ul {
    // Add class "links" to a list to have it display with no bullets
    &.links {
        text-decoration: none;        

        li {
            list-style-type: none;            
        }
    }
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 500;
    padding: 1em 0;
    overflow: hidden;

    #logo {
        float: left;

        img {
            max-width: 13em;            
        }
    }

    .expand-nav {
        display: none;
    }

    nav {
        float: right;
        padding-top: 1.5em;
        font-size: 0.96em;
        display: inline-block;
        
        ul {

            li {
                display: inline-block;

                a {
                    transition: background-color 0.25s ease-in-out,
                                color 0.25s ease-in-out;
                    color: inherit;
                    text-decoration: none;
                    padding: 0.5em 1em;
                    border-radius: 0.5em;                    

                    &:visited {
                        color: _palette(textPrimary);
                        background: none;
                    }

                    &:hover {
                        color: #FFF;
                        background-color: _palette(orange);
                    }

                    &:active {
                        background-color: _palette(grayDark);
                    }

                    &.active {
                        color: #FFF;
                        background-color: _palette(grayDark);
                    }
                }
            }
        }
    }

    &:after {
        clear: both;
    }
}

.affix {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255, 0.95);
    box-shadow: 0 0 0.2em rgba(0,0,0,0.4);
}

.hero {
    position: relative;
    height: 100vh;
    background: url('../images/brno-skyline.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .overlay,
    .intro,
    .container,
    .row {
        height: inherit;        
    }

    .overlay {
        position: absolute;
        width: 100%;
        background: rgba(255,255,255, 0.6);
    }

    .intro {
        position: relative;

        .blurb {
            padding: 2em;
            background: rgba(255,255,255, 0.8);
            text-align: center;
        }

        h1 {
            font-size: 2.5em;
            color: _palette(orange);
        }

        h2, h3 {
            font-size: 1.75em;
            color: _palette(gray);
        }
    }
}

section {
    padding: 6em 0;

    h2 {
        font-size: 2em;
        font-weight: 400;
    }

    &#about {
        position: relative;
        min-height: 700px;

        .light {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -100;
            width: 100%;
            height: 700px;
            background: url('../images/lightbulb_on.jpg');
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto;
            background-attachment: fixed;
        }

        #lightbulb {
            z-index: -50;            
            background-image: url('../images/lightbulb.jpg');
        }
    }

    &#schedule {
        background: _palette(blue);
    }

    &#register {
        background: _palette(chartreuse);
    }

    &#speakers {
        background: _palette(yellow);        
    }

    &#map {
        padding: 0;
        height: 450px;
    }
}

.footer {
    padding: 3em 0;
    background: _palette(grayDark);
    color: _palette(grayLight);

    h2 {
        color: #FFF;
    }

    ul {
        margin: 2em 0;
        padding: 0;

        li {
            color: #FFF;
        }
    }

    a {
        color: _palette(grayVLight);

        .social {
            display: inline-block;
            width: 3.5em;
            height: 3.5em;

            &#facebook {
                transition: background-image 0.25s ease-in-out;
                background-image: url('../../icons/social/facebook-grayLight.png');
                background-size: 100% auto;

                &:hover {
                    background-image: url('../../icons/social/facebook-grayVLight.png')
                }
            }

            &#twitter {
                transition: background-image 0.25s ease-in-out;
                background-image: url('../../icons/social/twitter-grayLight.png');
                background-size: 100% auto;

                &:hover {
                    background-image: url('../../icons/social/twitter-grayVLight.png')
                }
            }
        }
    }

    .copyright {
        background: _palette(gray);
        margin: 4em auto 0;
        font-size: 0.95em;
        width: 21em;
        padding: 1em;
        border-radius: 0.5em;
        text-align: center;
    }
}

.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba(255,255,255, 0.8);

    .content {
        position: relative;
        top: 10%;
        margin: auto;
        padding: 2em;
        width: 50%;
        background-color: #FFF;
        box-shadow: 0 0 0.3em rgba(0,0,0, 0.4);
    }

    .close {
        float: right;
        font-size: 2em;
        font-weight: bold;

        &:hover,
        &:focus {
            color: _palette(gray);
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.modal-open {
    overflow: hidden;
}

// Mobile media query overrides
@import 'mobile'