---
---

@import 'colors';
@import 'animations';

// Screen breaks
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;

// Import corporate fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;

body {
    font-size: 16px;
    line-height: 1.5em;
    font-family: $openSans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $roboto;
}

p {
    margin: 2em 0;
}

mark {
    background: _palette(yellow);   
}

::selection {
    background: _palette(yellow);
}

::-moz-selection {
    background: _palette(yellow);
}

:focus {
    outline: none;
}

a {
    transition: color 0.25s ease-in-out;
    color: inherit;

    &:visited {
        color: _palette(grayDark);
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        color: _palette(grayDark);
    }
}

button,
.button {
    font-family: $roboto;
    padding: 1em;
    margin: 0.5em 0.2em;
    border: 0;
    border-radius: 0.5em;

    a {
        color: inherit;
        text-decoration: none;       
    
        &:visited {
            color: inherit;
        }
    
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    
        &:active {
            color: inherit;
        }
    }

    &.action {
        transition: background 0.25s ease-in-out;
        background: _palette(green);
        color: #FFF;
    
        &:hover {
            background: _palette(greenHov);
        }

        &:active {
            background: _palette(greenAct);
        }
    }

    &.primary {
        transition: background 0.25s ease-in-out;
        background: _palette(orange);
        color: #FFF;
    
        &:hover {
            background: _palette(orangeHov);
        }

        &:active {
            background: _palette(orangeAct);
        }
    }

    &.secondary {
        transition: box-shadow 0.25s ease-in-out;
        background: none;
        color: _palette(gray);
        box-shadow: inset 0 0 0 0.1em _palette(gray);
    
        &:hover {
            box-shadow: inset 0 0 0 0.1em _palette(grayMed);
        }
    }

    &:hover {
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px); 
        transform: translateY(-1px);
        box-shadow: 0 2px 1px rgba(0,0,0, 0.3);
    }
}

ul {
    // Add class "links" to a list to have it display with no bullets
    &.links {
        text-decoration: none;        

        li {
            list-style-type: none;            
        }
    }
}

form {
    .field-group {
        margin: 2em 0;
        text-align: left;
    }

    label {
        text-align: right;
    }

    input {
        transform: box-shadow 0.25s ease-in-out;
        display: inline-block;
        padding: 0.7em;
        width: 100%;
        border: 0;
        border-radius: 0.5em;
        box-shadow: 0 0 0.1em rgba(0,0,0, 0.4);
        color: _palette(textPrimary);

        &:focus {
            box-shadow: 0 0 0.4em rgba(0,0,0, 0.4);            
        }
    }

    .form-control {
        text-align: left;
    }

    .row {
        margin-bottom: 0.5em;
    }

    .response {
        margin: 0.5em 0;
        padding: 0.5em;
        text-align: center;
        text-shadow: 0 0 0.2em rgba(0,0,0, 0.3);
        font-size: 0.8em;
        font-weight: bold;
    }
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 500;
    padding: 0.5em 0;
    overflow: hidden;

    #logo {
        float: left;

        img {
            max-width: 11.4em;            
        }
    }

    .expand-nav {
        display: none;
    }

    nav {
        float: right;
        padding-top: 0.7em;
        font-size: 0.96em;
        display: inline-block;
        
        ul {

            li {
                display: inline-block;

                a {
                    transition: background-color 0.25s ease-in-out,
                                color 0.25s ease-in-out;
                    color: inherit;
                    text-decoration: none;
                    padding: 0.5em 1em;
                    border-radius: 0.5em;                    

                    &:visited {
                        color: _palette(textPrimary);
                        background: none;
                    }

                    &:hover {
                        color: #FFF;
                        background-color: _palette(orange);
                        box-shadow: 0 2px 2px rgba(0,0,0, 0.1);
                    }

                    &:active {
                        background-color: _palette(grayDark);
                    }

                    &.active {
                        color: #FFF;
                        background-color: _palette(grayDark);
                    }
                }
            }
        }
    }

    &:after {
        clear: both;
    }
}

.plain {
    margin: 0.5em auto;
    padding: 1em 0;    

    #logo {
        background: #FFF;
        width: 100%;

        img {
            max-width: 11.4em;            
        }
    }

    .back {
        margin-top: 1em;
    }
}

.affix {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255, 0.95);
    box-shadow: 0 0 0.2em rgba(0,0,0,0.4);
}

.hero {
    position: relative;
    height: 100vh;
    background: url('../images/brno-skyline.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .overlay,
    .intro,
    .container,
    .row {
        height: inherit;        
    }

    .overlay {
        position: absolute;
        width: 100%;
        background: rgba(255,255,255, 0.6);
    }

    .intro {
        position: relative;

        .blurb {
            padding: 2em;
            background: rgba(255,255,255, 0.8);
            text-align: center;
            box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.1);
            opacity: 0;
            animation: fade-in 1s forwards;            
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.5em;
            color: _palette(orange);
            text-shadow: 0 2px 0.1em rgba(0,0,0,0.1);
        }

        h2, h3 {
            font-size: 1.75em;
            color: _palette(gray);
        }
    }
}

.main-wrapper {
    overflow: hidden;
}

aside {
    padding: 2em;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 0.1em rgba(0,0,0,0.4);

    &.center {
        margin: 0 auto;
        text-align: center;
    }
}

section {
    padding: 6em 0;
    position: relative;

    h2 {
        font-weight: 400;
        line-height: 1.2em;
    }

    &#about {
        position: relative;
        overflow: hidden;
        height: 530px;
        box-shadow: 0 0 0.4em rgba(0,0,0,0.2);

        .light {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -100;
            width: 100%;
            height: 500px;
            background: url('../images/lightbulb_on.jpg');
            background-repeat: no-repeat;
            background-position: 90% center;
            background-size: contain;
        }

        #lightbulb {
            z-index: -50;            
            background-image: url('../images/lightbulb.jpg');
        }
    }

    &#schedule {
        background: _palette(blue);
        box-shadow: inset 0 0 0.4em rgba(0,0,0,0.3);

        .event-times {
            margin-top: 3em;
        }

        .row {
            margin: 0.5em 0;
        }

        .time {
            font-weight: bold;
            font-size: 0.8em;
        }

        .time-block {
            padding: 1em;
            text-align: center;
            background: rgba(238,238,238,0.8);            
            box-shadow: 0 0 0.1em rgba(0,0,0, 0.4);

            &.standard {
                background: rgba(255,255,255, 0.5);                
            }
        }

        &.diagonal {
            &::before {
                background: #9bf6fd;                
            }
        }
    }

    &#register {
        background: _palette(chartreuse);
        box-shadow: 0 0 0.2em rgba(0,0,0, 0.3);

        form {
            input {
                margin-left: 1em;
            }
        }

        &.triangles {
            &::before,
            &::after {
                background: inherit;
            }

            &::before {
                box-shadow: -0.2em -0.2em 0.2em -0.2em rgba(0,0,0, 0.3);                
            }

            &::after {
                box-shadow: 0.2em 0.2em 0.2em -0.2em rgba(0,0,0, 0.3);                
            }
        }
    }

    &#speakers {
        background: _palette(yellow);
        box-shadow: inset 0 0 0.4em rgba(0,0,0, 0.3);
        
        &.diagonal-left {
            &::before {
                background: #fdee9b;
            }
        }
    }

    &#details {
        ul {
            padding-left: 0;
            list-style-type: none;
        }

        .datetime {
            display: inline-block;
            padding-right: 1em;
            margin-bottom: 0;
        }
    }

    &#map {
        padding: 0;
        height: 450px;
        overflow: hidden;
    }

    &.plain-content {
        padding: 2em 0;

        p {
            text-align: justify;
        }

        h2 {
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    // Section divider styles

    &.divider {
        z-index: 1;
        padding-top: 6em;

        &::before,
        &::after {
            position: absolute;
            content: '';
            pointer-events: none;
        }
    }

    &.diagonal {
        &::before,
        &::after {
            top: 0;
            left: -25%;
            z-index: -1;
            width: 150%;
            height: 75%;
            background: inherit;
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
        }
        
        &::before {
            height: 50%;
            -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
            -webkit-transform-origin: 3% 0;
            transform-origin: 3% 0;
        }
    }

    &.diagonal-left {
        z-index: 0;

        &::before,
        &::after {
            bottom: 0;
            right: -25%;
            z-index: -1;
            width: 150%;
            height: 75%;
            background: inherit;
            -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
        }
        
        &::before {
            height: 50%;
            -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
            -webkit-transform-origin: 3% 0;
            transform-origin: 3% 0;
        }
    }

    &.triangles {
        &::before,
        &::after {
            left: 50%;
            width: 100px;
            height: 100px;
            -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
        }
        
        &::before {
            top: -50px;
        }
        
        &::after {
            bottom: -50px;
            z-index: 10;
        }
    }
}

.speaker {
    padding: 1em;

    img {
        width: 100%;
        box-shadow: 0 0 0.2em rgba(0,0,0, 0.3);
        pointer-events: none;
    }

    &.card {
        position: relative;
        text-align: center;        

        .info {
            transition: opacity 0.5s ease-in-out;
            position: absolute;
            opacity: 0;
            right: 1em;
            bottom: 1em;
            left: 1em;
            background: rgba(255,255,255, 0.8);
            
            h3,
            p {
                margin: 0.5em;
            }
        }

        &:hover {

            .info {
                opacity: 1;
            }

            img {
                transform: translateY(-1px);
                box-shadow: 0 0 0.3em rgba(0,0,0, 0.4);
            }
        }
    }

    .headshot {
        float: right;
        margin: 0 0 1em 1em;
        max-width: 50%;
    }

    .title {
        margin: 0;
    }
}

.footer {
    position: relative;
    overflow: hidden;
    padding: 3em 0;
    background: _palette(grayDark);
    color: _palette(grayLight);

    h2 {
        color: #FFF;
    }

    ul {
        margin: 2em 0;
        padding: 0;

        li {
            color: #FFF;
            margin: 1.5em 0;
        }
    }

    a {
        color: _palette(grayLight);

        .social {
            display: inline-block;
            width: 3.5em;
            height: 3.5em;

            &#facebook {
                transition: background-image 0.25s ease-in-out;
                background-image: url('../../icons/social/facebook-grayLight.png');
                background-size: 100% auto;

                &:hover {
                    background-image: url('../../icons/social/facebook-grayVLight.png')
                }
            }

            &#twitter {
                transition: background-image 0.25s ease-in-out;
                background-image: url('../../icons/social/twitter-grayLight.png');
                background-size: 100% auto;

                &:hover {
                    background-image: url('../../icons/social/twitter-grayVLight.png')
                }
            }
        }
    }

    button {
        margin-left: 0;
        padding: 0.7em;
    }

    .copyright {
        color: #858484;
        font-size: 0.95em;
        text-align: center;

        .row {
            .col-lg-6, .col-sm-12 {
                background: rgba(255,255,255, 0.05);
                margin: 4em auto 0;  
                padding: 1em;            
                border-radius: 0.5em;
            }
        }
    }

    .ribbon {
        position: absolute;
        top: -35%;
        left: -30%; // Goes to -14% when user scrolls to bottom
        display: inline-block;
        padding: 0.5em;
        width: 30%;
        background: _palette(orange);
        color: #FFF;
        font-family: $roboto;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;        
        transform: rotate(-45deg);
        transform-origin: 100% 100%;

        a {
            color: #FFF;
            text-decoration: none;

            &:visited,
            &:hover,
            &:active {
                color: inherit;
            }
        }
    }
}

.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba(255,255,255, 0.8);

    .content {
        position: relative;
        top: 10%;
        margin: auto;
        padding: 2em;
        width: 50%;
        background-color: #FFF;
        box-shadow: 0 0 0.3em rgba(0,0,0, 0.4);
    }

    .close {
        float: right;
        font-size: 2em;
        font-weight: bold;

        &:hover,
        &:focus {
            color: _palette(gray);
            text-decoration: none;
            cursor: pointer;
        }
    }

    &#aboutBrno {
        ul {
            padding-left: 0;
            list-style-type: none;
        }

        h1 {
            text-align: center;
            margin-bottom: 2em;
        }
        
        .info {
            border-bottom: 2px solid _palette(orange);
        }

        .links {
            border-bottom: 2px solid _palette(blue);
        }
    }
}

.modal-open {
    overflow: hidden;
}

// Mobile media query overrides
@import 'mobile'