<div class="gallery">
  {% assign count = 1 | plus: 0 %}
  {% for image in site.static_files %}
    {% if image.path contains 'assets/2017/images/event' %}
      {% unless image.name contains '_thumb' %}
        {% capture thumb-path %}{{ image.path | split: '.' | first }}_thumb.jpg{% endcapture %}
        <img 
        src="{{ thumb-path }}" 
        alt="Photos from SolarWinds Innovate Summit 2017 in Brno" 
        class="gallery__thumb" 
        id="{% if count < 10 %}thumb0{{ count }}{% else %}thumb{{ count }}{% endif %}" 
        data-src="{{ image.path }}" 
        data-prev="{% if count == 1 %}thumb79{% else %}{% if count < 11 %}thumb0{{ count | minus: 1 }}{% else %}thumb{{ count | minus: 1 }}{% endif %}{% endif %}" 
        data-next="{% if count == 79 %}thumb01{% else %}{% if count < 9 %}thumb0{{ count | plus: 1 }}{% else %}thumb{{ count | plus: 1 }}{% endif %}{% endif %}"
        />
        {% assign count = count | plus: 1 %}
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>