---
---

@import 'colors';

// Screen breaks
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;

// Import corporate fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;

body {
    font-size: 16px;
    font-family: $openSans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $roboto;
}

mark {
    background: _palette(yellow);   
}

::selection {
    background: _palette(yellow);
}

::-moz-selection {
    background: _palette(yellow);
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 1000;
    padding: 1em 0;
    overflow: hidden;

    #logo {
        float: left;

        img {
            max-width: 14em;            
        }
    }

    .expand-nav {
        display: none;
    }

    nav {
        float: right;
        padding-top: 1.5em;
        font-size: 0.9em;
        
        ul {
            text-decoration-style: none;

            li {
                display: inline-block;
                list-style-type: none;
                padding: 0 0.6em;
            }
        }
    }

    &:after {
        clear: both;
    }
}

.affix {
    position: fixed;
    top: 0;
    background: rgba(255,255,255, 0.8);
    box-shadow: 0 0 0.2em rgba(0,0,0,0.4);
}

.hero {
    position: relative;
    height: 700px;
    background: url('../images/brno-skyline.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .overlay,
    .intro,
    .container,
    .row {
        height: inherit;        
    }

    .overlay {
        position: absolute;
        width: 100%;
        background: rgba(255,255,255, 0.6);
    }

    .intro {
        position: relative;

        .blurb {
            padding: 1em;
            background: rgba(255,255,255, 0.8);
        }

        h1 {
            color: _palette(orange);
        }

        h2, h3 {
            color: _palette(gray);
        }
    }
}

@media screen and (max-width: $s) {
    body {
        font-size: 14px;
    }

    .navbar {
        width: 100%;
        z-index: 1000;
        padding: 1em 0;
        overflow: hidden;
    
        #logo {
            display: block;
            width: 100%;

            img {
                float: left;
                max-width: 14em;          
            }

            .expand-nav {
                display: inline;
                float: right;
                padding-top: 20px;          
            }

            &:after {
                clear: both;
            }
        }
    
        nav {
            float: none;
            font-size: 1em;
            padding: 0;
            text-align: center;
            display: none;
            
            ul {
                text-decoration-style: none;
                padding: 0;
    
                li {
                    display: block;
                    list-style-type: none;
                    padding: 0.6em 0;
                }
            }
        }
    }

    .hero {
        height: 400px;

        .overlay {
            height: 400px;
        }

        .intro {
            h1 {
                color: _palette(orange);
            }
        }
    }
}