<div class="cookie-banner">
    <div class="cookie-banner__message">
        <div class="cookie-banner__text">
            SolarWinds uses cookies on its websites to facilitate and enhance your online experience. By using our website, you agree
            to our use of cookies. For more information about cookies, see our
            <a href="http://www.solarwinds.com/privacy">Cookie Policy</a>.
        </div>
        <span class="cookie-banner__accept js-accept-cookies">&times;</span>
    </div>
</div>