<section id="about">
    <div class="container">
        <h2>About</h2>
        <p>
            Explanation of event here
        </p>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis, metus nec auctor placerat, dolor sem imperdiet ex, in finibus justo diam eu erat. Integer eget sodales sapien, quis ullamcorper urna. Maecenas ultrices suscipit congue. Nunc sagittis, diam in ultrices imperdiet, justo magna eleifend urna, eget ullamcorper felis nulla a magna. Sed finibus euismod elit eget pellentesque. Pellentesque id sem ligula. Integer mollis sapien leo, quis ultricies arcu fermentum sed.
        </p>
        <div id="lightbulb"></div>
    </div>
</section>