<section id="about">
    <div class="container">
        <h1>About</h1>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h2>
                    SolarWinds Innovate is headed to Brno, Czech Republic
                    on December 14th, 2017!
                </h2>
                <p>
                    Innovate is a one-day event and a great opportunity for you to
                    meet and learn from SolarWinds engineers and others in the monitoring
                    community.
                </p>
            </div>
        </div>
    </div>
    <div class="light"></div>
    <div id="lightbulb" class="light"></div>
</section>