<section id="about" data-aos="fade-down" data-aos-delay="200" data-aos-easing="ease-in">
    <div class="container">
        <h1>About the Conference</h1>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h2>
                    SolarWinds Innovate is headed back to Brno, Czech Republic
                    on December 14th, 2017!
                </h2>
                <p>
                    Innovate Summit is a one-day event and a great opportunity for you to
                    meet and learn from SolarWinds engineers and others in the monitoring, management and development
                    community. <a href="/2016"><strong>Innovate Summit 2016</strong></a> was a blast!
                </p>
                <p>
                    Spend the evening hearing talks from experts and fellow devs on topics within the <i>cloud native</i> ecosystem, ranging from containers to serverless.
                    Finish the day off with a social happy hour, where 
                    you can network and just get to know your local technology community 
                    a little better.
                </p>
                <p>
                    We are passionate about running infrastructure and applications at-scale, and we're excited to 
                    pull together a group that shares that passion and is interested in 
                    sharing how they build and maintain complex distributed systems.
                </p>
                <div align="center" width="100%" style="color:white;background-color:#15bdce">
                    Read: <a style="color:white" href="https://www.zive.cz/clanky/pozvanka-na-konferenci-innovate-summit-innovation-goes-social-at-solarwinds-innovate-summit-2017/sc-3-a-190647/default.aspx">Innovation goes social at Innovate Summit 2017</a>
                </div>
            </div>
        </div>
    </div>
    <div id="light" class="light"></div>
    <div id="lightbulb" class="light"></div>
</section>