<section id="details">
    <div class="container">
        <h1>Event Details</h1>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3>Venue</h3>
                <p><strong>Courtyard by Marriott Brno</strong><br />
                    Holandská 12, 639 00 Brno-střed, Czechia<br />
                    +420-515-519 519
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 class="datetime">Date/Time</h3>
                <span class="addtocalendar"><i class="atcb-link fa fa-calendar-plus-o" aria-hidden="true"></i>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-05-04 12:00:00</var>
                        <var class="atc_date_end">2017-05-04 18:00:00</var>
                        <var class="atc_timezone">Europe/London</var>
                        <var class="atc_title">Star Wars Day Party</var>
                        <var class="atc_description">May the force be with you</var>
                        <var class="atc_location">Tatooine</var>
                        <var class="atc_organizer">Luke Skywalker</var>
                        <var class="atc_organizer_email">luke@starwars.com</var>
                    </var>
                </span>
                <p>December 14, 2017<br />
                    1pm to 9pm
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3>What's nearby</h3>
                <p>
                    <ul>
                        <li><a href="https://www.google.com/search?q=restaurants+near+Holandská+12%2C+639+00+Brno-střed%2C+Czechia&rlz=1C1GGRV_enUS758US758&oq=restaurants+near+Holandská+12%2C+639+00+Brno-střed%2C+Czechia" target="_blank">Restaurants</a></li>
                        <li><a href="https://www.google.com/search?rlz=1C1GGRV_enUS758US758&q=bars+near+Holandská+12%2C+639+00+Brno-střed%2C+Czechia&oq=bars+near+Holandská+12%2C+639+00+Brno-střed%2C+Czechia" target="_blank">Bars</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="map">
    <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWwbvSaqVEkcRcBNVMCFzWM4&key=AIzaSyDZ1xeIkiN9Hy3UcGD_bNzRc4CWpuOPngY" allowfullscreen></iframe>
</section>