<section id="details">
    <div class="container">
        <h2>Event Details</h2>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3>Venue</h3>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3>Date/Time</h3>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3>What's nearby</h3>
            </div>
        </div>

        <div class="row">
            <!-- Address -->
            <div class="col-md-4 col-sm-12">
                To be announced
            </div>
            <!-- Date/Time -->
            <div class="col-md-4 col-sm-12">
                December 14, 2017, time to be announced
            </div>
            <!-- Address -->
            <div class="col-md-4 col-sm-12">
                To be announced
            </div>
    </div>
</section>

<section id="map">
    <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJEVE_wDqUEkcRsLEUZg-vAAQ&key=AIzaSyDZ1xeIkiN9Hy3UcGD_bNzRc4CWpuOPngY" allowfullscreen></iframe>
</section>