<section id="details">
    <div class="container">
        <h1>Event Details</h1>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3>Venue</h3>
                <p><strong>Courtyard by Marriott Brno</strong><br />
                    Holandská 12, 639 00 Brno-střed, Czechia<br />
                    +420-515-519 519
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 class="datetime">Date/Time</h3>
                <span class="addtocalendar"><i class="atcb-link fa fa-calendar-plus-o" aria-hidden="true"></i>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-05-04 12:00:00</var>
                        <var class="atc_date_end">2017-05-04 18:00:00</var>
                        <var class="atc_timezone">Europe/London</var>
                        <var class="atc_title">Star Wars Day Party</var>
                        <var class="atc_description">May the force be with you</var>
                        <var class="atc_location">Tatooine</var>
                        <var class="atc_organizer">Luke Skywalker</var>
                        <var class="atc_organizer_email">luke@starwars.com</var>
                    </var>
                </span>
                <p>December 14, 2017<br />
                    1pm to 9pm
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3>What's nearby</h3>
                <button class="primary" data-target-modal="aboutBrno">Guide To Brno</a>
            </div>
        </div>
    </div>
</section>

<section id="map">
    <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWwbvSaqVEkcRcBNVMCFzWM4&key=AIzaSyDZ1xeIkiN9Hy3UcGD_bNzRc4CWpuOPngY" allowfullscreen></iframe>
</section>

{% capture modalContent %}
<h1>About Brno</h1>         
<div class="row about-brno justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12">
        <aside class="info">
            <p>
                The students’ city. Czech’s Silicon Valley. Second largest. A capital of Moravia. A lot of epithets describe 
                this vibrant city full of cafés, bars, bistros, high-tech companies, and three large universities with more 
                than 90,000 students in total. Each year, Brno hosts plenty of cultural and sporting events, expos, and technical conferences.
            </p>
        </aside>
    </div>
    <div class="col-md-6 col-sm-12">
        <aside class="links">
            <h2>Guides</h2>           
            <ul>
                <li>
                    <a href="http://www.stylishcoffee.cz/2017/05/brno-diary-pruvodce-tipy.html" target="_blank">Cafés and Bistros (Czech)</a>
                </li>
                <li>
                    <a href="https://www.nytimes.com/2017/04/12/travel/cafe-and-cocktail-culture-brno-czech-republic.html?mcubz=3" target="_blank">Nightlife and Bars</a>
                </li>
                <li>
                    <a href="https://www.gotobrno.cz/en/" target="_blank">Visitor Guide</a>
                </li>
                <li>
                    <a href="http://www.brno.use-it.travel/" target="_blank">A Local's Guide</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=AvpLBIfjR1A" target="_blank">Video Guide</a>
                </li>
            </ul>
        </aside>
    </div>
</div>
{% endcapture %}

{% include partials/modal.html id='aboutBrno' content=modalContent %}