<section id="register">
    <div class="container" data-aos="fade-up" data-aos-easing="ease-in">
        <h1>Register</h1>
        <div class="row">
            <div class="col-md-6 col-sm-12">
            <h2>It's free!</h2>               
                <p>
                    We have limited availability, so we encourage you to sign up as soon as possible 
                    to ensure you'll have a spot. On conference day, we'll have a rolling check-in 
                    beginning at noon.
                </p>
                <button class="inverted" data-target-modal="registrationModal">Register Now</button>                                        
            </div>
            <div class="col-md-6 col-sm-12">
                <aside>
                    <h3>What entry gets you:</h3>
                    <ul>
                        <li>Talks from experts</li>
                        <li>Networking opportunities with fellow devs and industry professionals</li>
                        <li>Access to the social happy hour</li>
                        <li>Free swag!</li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>

{% capture modalContent %}
    <div id="registration-form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeNp6iCmdXl1HdoLrnpeKYW3RFaX2imutjp3Fiws46m21uPOw/viewform?embedded=true" frameborder="0">Loading...</iframe>
    </div>
{% endcapture %}

{% include partials/modal.html id="registrationModal" content=modalContent fullScreen=true %}