<section id="schedule" data-aos="fade-up" data-aos-easing="ease-in">
    <div class="container">
        <h1>Schedule</h1>
        <p>View the slides from each presentation by clicking the respective talk. Videos coming soon!</p>
        <div class="event-times">
            <div class="row justify-content-center">
                {% for item in site.data.2017.schedule %}
                <div class="col-lg-10 col-sm-12 time-block time-{{ item.duration }}{% if item.admin %} admin{% endif %}" data-aos="fade-left" data-easing="ease-in-sine">
                    {% if item.speaker %}
                    <div class="c-more">
                        <span>&plus;</span>
                    </div>
                    {% endif %}
                    <div class="time" data-aos="fade-right">
                        <span>{{ item.time }}</span>
                    </div>
                    <div class="event{% if item.video %} js-expand{% endif %}"{% if item.video %} data-expand="{% if item.topic %}{{ item.topic | slugify }}{% else %}{{ item.event | slugify }}{% endif %}"{% endif %} >
                        {% unless item.topic %}{{ item.event }}{% endunless %}
                        {% if item.speaker %}
                          <span class="event__speaker">{{ item.speaker }}</span><br />
                          {{ item.topic }}
                        {% endif %}
                    </div>
                </div>
                {% if item.video %}
                    <div id="{% if item.topic %}{{ item.topic | slugify }}{% else %}{{ item.event | slugify }}{% endif %}" data-video="{{ item.video }}" class="col-lg-10 col-sm-12 time-description">
                        <div class="time-description__text">
                            <div class="time-description__video">
                                <iframe id="{{ item.video }}" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            {% if item.description %}{{ item.description }}<br />{% endif %}<br />
                            <div class="u-center">
                                <a class="button primary" href="/assets/2017/docs/{{ item.slides }}" target="_blank">View Slides</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>