<section id="schedule" class="divider diagonal">
    <div class="container">
        <h1>Schedule</h1>
        <div class="event-times">
            <div class="row">
                <div class="col-sm-1 time">
                    12 PM
                </div>
                <div class="col-sm-11 time-block standard">
                    Registration
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    12:30 PM
                </div>
                <div class="col-sm-11 time-block">
                    Panel - TBA
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    1 PM
                </div>
                <div class="col-sm-11 time-block min-45">
                    Talk - TBA
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    1:45 PM
                </div>
                <div class="col-sm-11 time-block min-45">
                    Talk - TBA
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    2:30 PM
                </div>
                <div class="col-sm-11 time-block min-45">
                    Talk - TBA
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    3:15 PM
                </div>
                <div class="col-sm-11 time-block standard">
                    Break
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    3:30 PM
                </div>
                <div class="col-sm-11 time-block min-45">
                    Talk - TBA
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    4:15 PM
                </div>
                <div class="col-sm-11 time-block min-45">
                    Talk - TBA
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    5 PM
                </div>
                <div class="col-sm-11 time-block standard">
                    Break / Additional Registration
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    5:30 PM
                </div>
                <div class="col-sm-11 time-block min-45">
                    Lightning Talks
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    6:15 PM
                </div>
                <div class="col-sm-11 time-block min-45">
                    Talk - TBA
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 time">
                    7 PM
                </div>
                <div class="col-sm-11 time-block standard">
                    Social &mdash; Happy Hour
                </div>
            </div>
        </div>
    </div>
</section>