<section id="speakers" class="divider diagonal-left">
    <div class="container">
        <h2>Speakers</h2>
        <div class="row justify-content-between">              
            <div class="col-md-7 col-sm-12">
                <p>
                    We are still working on the lineup. Subscribe above to receive updates!
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <aside>
                    <h3>Do you have a research project or topic you're particularly
                        knowledgable on?
                    </h3>
                    <p>
                        We'd love to see a proposal and consider you for a slot at the
                        Summit.
                    </p>
                    <button class="primary"><a href="https://goo.gl/forms/YWTEw1jVSIOQzFzg1" target="_blank">Submit your proposal</a></button>
                </aside>
            </div>
        </div>
    </div>
</section>