<section id="speakers">
    <div class="container">
        <h2>Speakers</h2>
        <p>To be announced</p>
        <button id="open-speakerModal" class="primary">Submit your proposal</button>
    </div>
</section>

{% capture modalContent %}
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe4_R8f9nvKCQk1w5SxtlbVM1m_MSBiWnQ1rLg1_nz6moEW3w/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>    
{% endcapture %}

{% include partials/modal.html id="speakerModal" name="Apply to be a speaker" content=modalContent  %}