<section id="speakers" class="divider diagonal-left">
    <div class="container">
        <h2>Speakers</h2>
        <div class="row justify-content-between">              
            {% for speaker_hash in site.data.speakers %}
            {% assign id = speaker_hash[0] %}
            {% assign speaker = speaker_hash[1] %}       
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="speaker card" data-target-modal="{{ id }}Modal">
                        <img src="{{ site.baseurl }}/assets/2017/images/speakers/{{ speaker.image }}" alt="{{ speaker.name }}" data-target-modal="{{ id }}Modal">
                        <div class="info">
                            <h3>{{ speaker.name }}</h3>
                            <p class="title">
                                <em>{{ speaker.title }}</em><br />
                                {{ speaker.company }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% for speaker_hash in site.data.speakers %}
    {% capture modalId %}{{ speaker_hash[0] | append: "Modal" }}{% endcapture %}
    {% assign speaker = speaker_hash[1] %}
    {% capture speakerName %}{{ speaker.name }}{% endcapture %}

    {% capture modalContent %}
        <div class="speaker">
            <div class="headshot">
                <img src="{{ site.baseurl }}/assets/2017/images/speakers/{{ speaker.image }}" alt="{{ speaker.name }}">
            </div>
            <p class="title">
                <em>{{ speaker.title }}</em><br />
                {{ speaker.company }}
            </p>
            {{ speaker.bio }}
        </div>    
    {% endcapture %}

    {% include partials/modal.html id=modalId name=speakerName content=modalContent  %}

{% endfor %}