    <div class="footer-wrapper">
        <div class="footer">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-4 col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>More</h2>
                                <ul class="links">
                                    <li><a href="http://solarwinds.com">SolarWinds.com</a></li>
                                    <!-- <li><a href="http://solarwinds.io">SolarWinds Innovate</a></li> -->
                                </ul>
                            </div>
                            <div class="col-sm-12">
                                <div class="ribbon-screen-sm">
                                    <a href="http://solarwinds.jobs">WE ARE HIRING</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Connect With Us</h2>
                                <div class="social">
                                    <a href="#"><div class="social-twitter"></div></a>
                                    <span>#SolarWindsInnovate</span>
                                </div>
                                <div class="social">
                                    <a href="https://www.linkedin.com/jobs/solarwinds-jobs"><div class="social-linked-in"></div></a>
                                    <span>SolarWinds Careers</span>    
                                </div>
                                <div class="social">
                                    <a href="https://www.linkedin.com/company/solarwinds"><div class="social-linked-in"></div></a>
                                    <span>SolarWinds Corporate</span>
                                </div>
                                <div class="social">
                                    <a href="https://www.facebook.com/SolarWinds"><div class="social-facebook"></div></a>
                                    <span>SolarWinds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Stay Updated</h2>
                                <!-- Begin MailChimp Signup Form -->
								<div id="mc_embed_signup">
                                    <form action="//solarwinds.us16.list-manage.com/subscribe/post?u=7d7247cc00a4c3851b004ec21&amp;id=70b8867c09" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7d7247cc00a4c3851b004ec21_70b8867c09" tabindex="-1" value=""></div>
                                        <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary">Sign Up</button></div>
                                        </div>
                                    </form>
								</div>
								<!--End mc_embed_signup-->                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            &copy; 2017 SolarWinds Worldwide, LLC. All rights reserved.
                            &#124; <a href="http://www.solarwinds.com/legal/privacy">Privacy Policy</a>
                            &#124; <a href="http://www.solarwinds.com/legal/terms">Terms of Use</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ribbon-container">
            <div class="ribbon" data-state="offscreen">
                <a href="http://solarwinds.jobs">WE ARE HIRING</a>
            </div>
        </div>
    </div>

        {% include 2017/global_scripts.html %}
    </body>
</html>
