        <div class="footer">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4"><h2>More Solar Winds</h2></div>
                    <div class="col-md-4"><h2>Additional Resources</h2></div>
                    <div class="col-md-4"><h2>Connect With Us</h2></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">Link list here</div>
                    <div class="col-md-4">Resources maybe?</div>
                    <div class="col-md-4">Social media links here</div>
                </div>
                <div class="copyright">
                    &copy; SolarWinds. All Rights Reserved.
                </div>
            </div>
        </div>
            

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/site.js"></script>
    </body>
</html>