<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="2200"
   height="800"
   viewBox="0 0 2200 800"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.2 (5c3e80d, 2017-08-06)"
   sodipodi:docname="mountains.svg">
  <defs
     id="defs2">
    <linearGradient
       inkscape:collect="always"
       id="linearGradient6120">
      <stop
         style="stop-color:#000000;stop-opacity:1;"
         offset="0"
         id="stop6116" />
      <stop
         style="stop-color:#000000;stop-opacity:0;"
         offset="1"
         id="stop6118" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient6104">
      <stop
         style="stop-color:#ffffff;stop-opacity:1;"
         offset="0"
         id="stop6100" />
      <stop
         style="stop-color:#04c9d7;stop-opacity:0"
         offset="1"
         id="stop6102" />
    </linearGradient>
    <linearGradient
       id="linearGradient6006"
       osb:paint="solid">
      <stop
         style="stop-color:#000000;stop-opacity:1;"
         offset="0"
         id="stop6004" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6104"
       id="linearGradient6106"
       x1="169.33333"
       y1="85.333336"
       x2="169.33333"
       y2="170"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(5.0859474,0,0,4.6933656,272.86429,36.025811)" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6120"
       id="linearGradient6122"
       x1="1079.725"
       y1="498.40856"
       x2="2157.2951"
       y2="498.40856"
       gradientUnits="userSpaceOnUse" />
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.7"
     inkscape:cx="1132.58"
     inkscape:cy="524.28571"
     inkscape:document-units="px"
     inkscape:current-layer="layer3"
     showgrid="true"
     showguides="true"
     inkscape:window-width="1920"
     inkscape:window-height="1017"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1"
     units="px"
     viewbox-height="800">
    <inkscape:grid
       type="xygrid"
       id="grid3709" />
  </sodipodi:namedview>
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 2"
     transform="translate(0,-85.33334)">
    <path
       style="fill:url(#linearGradient6106);fill-opacity:1;stroke:#000000;stroke-width:1.29267871px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.11764706"
       d="m 649.64822,883.56942 296.04449,-248.35727 53.82631,-99.34286 53.82628,-74.50721 53.8262,-24.83573 80.7395,24.83573 53.8263,99.34295 80.7393,124.17859 53.8263,173.85015 26.9132,24.83565 v 0"
       id="path3714"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccccccccccc" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="Layer 3"
     transform="translate(0,-85.33334)">
    <path
       style="fill:#eeeeee;fill-opacity:0.87843138;stroke:url(#linearGradient6122);stroke-width:1.29267871px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.11616163"
       d="m 1080.2584,883.56942 322.9577,-471.87881 161.4789,-223.52153 53.8261,-74.50721 53.8263,24.83573 h 53.8263 l 53.8263,24.83574 107.6527,248.35727 134.5655,298.02875 134.5658,173.85006 v 0"
       id="path3717"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccccccccccc" />
  </g>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-85.33334)">
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.29267871px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.11764706"
       d="m 3.73291,883.56942 296.04453,-49.67139 107.65254,24.83574 161.47882,-49.67156 80.73942,-74.5072 80.73942,24.83573 53.82629,49.67147 107.65253,74.50721 v 0"
       id="path3711"
       inkscape:connector-curvature="0" />
  </g>
</svg>