<div class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div id="logo">
                    <img src="{{ site.baseurl }}/assets/images/logo.png" alt="SolarWinds Innovate Summit" />
                    <div class="expand-nav"><i class="fa fa-2x fa-navicon" aria-hidden="true"></i></div>            
                </div>
            </div>

            <div class="col-md-7 col-sm-12">
                <nav>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Schedule</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Call For Papers</a></li>
                        <li><a href="#">Event Details</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>